.working-list {
    width: 100%;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.item-work {
    width: 10rem;
}

a {
    text-decoration: none;
    color: #000;
}
.job-filter {
    margin: 0;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
}

.job-icon {
    font-size: 1.4rem;
    display: block;
}